/**
* ========
*   BACE
* ========
*/
@mixin google-font($family) {
  @import url('http://fonts.googleapis.com/css?family=#{$family}');
}
@include google-font('Droid Sans');

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
  background-color: #efefef;
}
a {
  text-decoration: none;
  color: #001e43;
}
.pc-only {
  display: block;
}
.sp-only {
  display: none;
}

#wrapper {
}
